@model IEnumerable<Musebox_Web_Project.Models.Products>

@{
    ViewData["Title"] = "Index";
}
<section id="products" class="products">
    <div class="container">
        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New Product</a>
           <p> <a href="/Brands/Create">Create New Brand</a>
        </p>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Brand)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Brand.BrandName)
                        </td>
                        <td>
                            <a asp-action="" asp-route-id="@item.ProductID">Add To Cart</a> |
                            <a asp-action="Edit" asp-route-id="@item.ProductID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ProductID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ProductID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </section>
